<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <style>
        h1{
            text-align: center;
            font-size: 100px;
        }
        span{
            background-color:{{color_change}};
            border: black 2px solid;
            border-radius: 10px;
            height: 250px;
            width: 250px;
            display: inline-block;
            margin: 15px;
        }
        .borderbox{
            height: 800px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div class=borderbox>
        {% for i in range(boxes): %}
        <span class="box"></span>
        {% endfor %}
    </div>
</body>
</html>